*{
  margin: 0;
  padding: 0;
}
.card {
  padding: 2em;
}
img{
  width: 1.80em;
}

.medio{
margin: auto 0;
}
.inform{
  width: 80%;
}.circulo{
  border-radius: 50%;
  
}body{
  background-image: url("https://imgs.search.brave.com/87SNZSJf4VjIkHAFcoouTipn_zbpRUs97Fj_hifJBhY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci8yNjEvMzEw/LzMyMi9sYXRpYXMt/cGl4ZWwtYXJ0LWNs/b3Vkcy1wb2tlbW9u/LXdhbGxwYXBlci1w/cmV2aWV3LmpwZw");
  width: 100%;

}.mostrarCartas{
  width: 80%;
  
}