#root {
  
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  
}
.cuerpo{
  background-color: rgb(8, 2, 100);

}
.lluvia{
  width: 100%;
}
.principal{
  width: 20%;
}
main{
  display: block;
  border: solid 1em red;
}
